manifest {
    homePage = 'https://github.com/iarcbioinfo/dupcaller-nf'
    description = 'Parallel dupcaller pipeline with nextflow'
    mainScript = 'dupcaller.nf'
}

profiles {
  conda { 
	process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = "200 min" 
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  singularity {
    singularity.enabled = true
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  apptainer {
    apptainer.enabled = true
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  
  iarc_hg38 {
    params{
    	ref = '/data/references/Homo_sapiens/GATK/hg38/Homo_sapiens_assembly38.fasta'
    	known_snp = '/data/references/Homo_sapiens/GATK/hg38/gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz'
    	known_snp = '/data/references/Homo_sapiens/GATK/hg38/gatk-best-practices/somatic-hg38/small_exac_common_3.hg38.vcf.gz'
    }
  }
  
  
}

params.output_folder="."

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/dupcaller-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/dupcaller-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/dupcaller-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/dupcaller-nf_dag.html"
}